import React, { FunctionComponent } from "react";
import styles from "./{{pascalCase pageName}}.module.scss";

interface Props {

}

const {{pascalCase pageName}}: FunctionComponent<Props> = ({ ...props }) => {
  return (
    <div className={ styles.{{pascalCase pageName}} }>
      {{pageName}}
    </div>
  )
};

export default {{pascalCase pageName}};
